{% extends 'backend.html.twig' %}
{% block title %}Editar tipo de enfermedad {{ entity }} - SIGEUATS{% endblock %}
{% block menuenfermedad %}
    {% if is_granted('ROLE_TECNICO') %}
        <li class="sub-menu">
            <a href="javascript:;" class="active">
                <i class="fa fa-plus-square"></i>
                <span>Enfermedades</span>
            </a>
            <ul class="sub">
                <li class="active"><a  href="{{ path('enfermedad') }}">Mostrar enfermedades</a></li>
                <li ><a  href="{{ path('enfermedad_new') }}">Añadir enfermedad</a></li>
            </ul>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel padding-5">
                        <h4><i class="fa fa-angle-right"></i> Editar tipo de enfermedad {{ entity }}</h4>
                        <hr>

                        <form method="post" class="form-horizontal"  {{ form_enctype(edit_form) }} action="{{ path('tipoenfermedad_update', {'id': entity.id}) }}">
                            <div class="form-group{% if form_errors(edit_form.nombre) %} has-error{% endif %}">
                                <label class="col-sm-2 control-label col-lg-2">Nombre</label>
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
                                    {% if form_errors(edit_form.nombre) %}
                                        <span class="help-block text-danger">
                                        {{ form_errors(edit_form.nombre) }}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            {{ form_row(edit_form._token) }}
                            <button class='btn btn-success' type="submit"><i class="fa fa-check-square-o"></i> Aceptar</button>
                            <button class='btn btn-danger' type="reset"><i class="fa fa-minus-square-o"></i> Cancelar</button>

                        </form>
                    </div><!-- /content-panel -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->

        </section><! --/wrapper -->
    </section><!-- /MAIN CONTENT -->
{% endblock %}


